<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409884115393-qcgvcdign8q6n7s656lj3eokss3crn34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409884115393-qcgvcdign8q6n7s656lj3eokss3crn34</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409884115393-2n013tqp17j1eg7ok4fldph363moqqsf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlj6ANI5f9Ghxq6eTox_zbmZ24usK6AZM</string>
	<key>GCM_SENDER_ID</key>
	<string>409884115393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vidsCom</string>
	<key>PROJECT_ID</key>
	<string>study-app-dabfe</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-dabfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409884115393:ios:274142c1b2195721502f40</string>
	<key>DATABASE_URL</key>
	<string>https://study-app-dabfe-default-rtdb.firebaseio.com</string>
</dict>
</plist>